@import 'tailwindcss';

@plugin "tailwindcss-animate";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --background: hsl(155 36% 100%);
  --foreground: hsl(155 71% 1%);
  --muted: hsl(155 5% 95%);
  --muted-foreground: hsl(155 8% 33%);
  --popover: hsl(155 36% 100%);
  --popover-foreground: hsl(155 71% 1%);
  --card: hsl(155 36% 100%);
  --card-foreground: hsl(155 71% 1%);
  --border: hsl(155 13% 90%);
  --input: hsl(155 13% 90%);
  --primary: hsl(155 58% 29%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(155 14% 80%);
  --secondary-foreground: hsl(155 14% 20%);
  --accent: hsl(155 23% 71%);
  --accent-foreground: hsl(155 23% 11%);
  --destructive: hsl(8 87% 43%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(155 58% 29%);
  --chart-1: hsl(155 58% 29%);
  --chart-2: hsl(155 14% 80%);
  --chart-3: hsl(155 23% 71%);
  --chart-4: hsl(155 14% 83%);
  --chart-5: hsl(155 61% 29%);
  --radius: 0.5rem;
  --sidebar: oklch(0.985 0.002 247.839);
  --sidebar-foreground: oklch(0.13 0.028 261.692);
  --sidebar-primary: oklch(0.21 0.034 264.665);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: hsl(155 58% 29%);
  --sidebar-accent-foreground: hsl(0 0% 100%);
  --sidebar-border: oklch(0.928 0.006 264.531);
  --sidebar-ring: oklch(0.707 0.022 261.325);
}

.dark {
  --background: hsl(155 30% 0%);
  --foreground: hsl(155 29% 98%);
  --muted: hsl(155 5% 5%);
  --muted-foreground: hsl(155 8% 67%);
  --popover: hsl(155 30% 0%);
  --popover-foreground: hsl(155 29% 98%);
  --card: hsl(155 30% 0%);
  --card-foreground: hsl(155 29% 98%);
  --border: hsl(155 13% 15%);
  --input: hsl(155 13% 15%);
  --primary: hsl(155 58% 29%);
  --primary-foreground: hsl(0 0% 100%);
  --secondary: hsl(155 10% 18%);
  --secondary-foreground: hsl(155 10% 78%);
  --accent: hsl(155 19% 25%);
  --accent-foreground: hsl(155 19% 85%);
  --destructive: hsl(8 87% 49%);
  --destructive-foreground: hsl(0 0% 100%);
  --ring: hsl(155 58% 29%);
  --chart-1: hsl(155 58% 29%);
  --chart-2: hsl(155 10% 18%);
  --chart-3: hsl(155 19% 25%);
  --chart-4: hsl(155 10% 21%);
  --chart-5: hsl(155 61% 29%);
  --sidebar: oklch(0.21 0.034 264.665);
  --sidebar-foreground: oklch(0.985 0.002 247.839);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0.002 247.839);
  --sidebar-accent: oklch(0.278 0.033 256.848);
  --sidebar-accent-foreground: oklch(0.985 0.002 247.839);
  --sidebar-border: oklch(0.278 0.033 256.848);
  --sidebar-ring: oklch(0.446 0.03 256.802);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer base {
  button:not(:disabled),
  [role='button']:not(:disabled) {
    cursor: pointer;
  }
}
